<form [formGroup]="ibanForm" (ngSubmit)="onSubmit()" class="row gy-2">
    <div class="col-12">
        <label for="iban">IBAN</label>
        <input type="text" formControlName="iban" class="form-control" [class]="{'is-invalid': submit && ibanForm.get('iban')?.invalid}" id="iban" placeholder="IBAN">
        <div id="ibanHelp" class="form-text">International Bank Account Number</div>
        @if(submit && ibanForm.invalid) {
        @if(iban?.hasError('required')) {
        <div class="invalid-feedback">
            This field is required.
        </div>
        }
        @if(iban?.hasError('invalidIban')) {
        <div class="invalid-feedback">
            Entered IBAN is invalid
        </div>
        }
        }
    </div>

    <div class="col-12">
        <label for="amount">Amount</label>
        <input type="text" formControlName="amount" class="form-control" [class]="{'is-invalid': submit && ibanForm.get('amount')?.invalid}" id="amount" placeholder="Amount (BHD)">
        @if(submit && amount?.hasError('required')) {
        <div class="invalid-feedback">
            This field is required.
        </div>
        }
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>