<footer class="wavy-bg-footer bg-primary d-flex flex-wrap justify-content-between align-items-center py-3 mt-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-8 col-12 text-white">
                <h5>Benefit QR Generator</h5>
                <p>
                    benefit.ahmed.plus is a free service to allow you to gerenate QR codes for your various payment needs.
                </p>
                <p class="mb-0">
                    This website is open source and available on <a class="text-white" href="https://github.com/ahmedaatif/benefit-qr-generator" target="_blank">GitHub</a>. Contribution is welcome!
                </p>
            </div>
            <div class="col-md-4 col-12 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-white">© {{year}}
                    <a class="text-white" href="https://ahmed.plus" target="_blank">ahmed.plus</a>
                </span>
            </div>

        </div>

    </div>

</footer>