$nav-pills-link-active-color: $black;
$nav-pills-link-active-bg: $secondary;
$nav-link-color: $secondary;

.nav-link:hover {
    color: $black !important;
}

// $component-active-color: $primary !default;
// $component-active-bg: $primary !default;